body {
   
    background-color:#F1EAFF;
    
}

h1 {
    color: #333;
}
.home{
    text-align: center;
}
.veg{
    text-align: center;
}
.SOUP {
    background-color: #dac6c6;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(133, 10, 10, 0.2);
}

.main{
    background-color:  #dac6c6;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(226, 6, 6, 0.2);
}
.burgir{
    background-color:  #dac6c6;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.2);

}
.deserts{
    background-color: #dac6c6;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.2);

}
.Sides{
    background-color: #dac6c6;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(207, 10, 10, 0.2);


}
.Beverages{
    background-color: #6abadf;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.2);

}
.NONVEGAppetizers{
    background-color: #a79494;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.2);
}
.NONVEGMain{
    background-color: #a79494;
    border-radius: 10px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.2);
}
.NONVEGburg{
    background-color: #a79494;
    border-radius: 20px;
    padding: 50px;
    margin: 100px;
    box-shadow: 0px 0px 10px rgba(16, 16, 16, 0.2);
}
.home{
    font-family: cursive;
}


h2 {
    color: #555;
}

.items {
    list-style-type: none;
    padding: 0;
}

.item-name {
    font-weight: bold;
}


.foodtype{
  display: flex;
  gap: 80px;
  justify-content: center;
  color: #130202;
  list-style-type: none;
  font-family: cursive;
}
.non-veg{
    text-align: center;
}